{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static 'assets2/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body id="particles-js">
    <div
      class="centerm"
      style="
        border: 1px solid black;
        margin-top: 90px;
        width: 400px;
        margin-left: 370px;
      "
    >
       <h4 style="text-align: center">Log in</h4>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            {{form.username}}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            {{form.password}}
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 80px">
            log in
          </button>
      </form>
      <div class="sign-up">
        Don't have an account? <a href="{% url 'sign-up' %}">Sign up</a>
      </div>
      
    </div>
    

    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/particles.json' %}"></script>
  </body>
</html>